body {
  font-family: 'Texturina', serif;
  text-align: center;
  background-color: #2f4858;
  color: #FFF;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: inherit;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 8px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

nav ul {
  background-color: #86BBD8;
  color: #984447;
  width: 500;
  padding: 20px;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  padding: 20px;
  background-color: #D64933;
  border: 1px solid red;
  list-style-type: none;
  margin: 20px;
  overflow: hidden;
}

li a {
  text-decoration: none;
  color: #D64933;
  font-weight: bold;
  font-size: 30px;
  float: inherit;
  width: 60px;
}

li a:hover {
  background-color: #984447;
  color: #FFF;
}

.wrapper {
  width: 900px;
  margin: 40px auto 0 auto;
}

th {
  color: #FFF;
  background-color: #D64933;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
}

td {
  color: #D64933;
  background-color: #86BBD8;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #86BBD8;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top: 3px solid #D64933;
}

img {
  border-radius: 50%;
}